In [1]:
facamp = 'fastcampus'
facamp

'fastcampus'

In [2]:
tuple_facamp = tuple(",".join(facamp).split(","))
tuple_facamp

('f', 'a', 's', 't', 'c', 'a', 'm', 'p', 'u', 's')

In [1]:
tuple(facamp)

NameError: name 'facamp' is not defined

In [2]:
facamp = 'fastcampus'

In [3]:
tuple(facamp)

('f', 'a', 's', 't', 'c', 'a', 'm', 'p', 'u', 's')

In [4]:
list(facamp)

['f', 'a', 's', 't', 'c', 'a', 'm', 'p', 'u', 's']

In [7]:
numbers = str(input("two lnums with space: ")).split()

result = 0;
num1 = int(numbers[0])
num2 = int(numbers[1])

two lnums with space: 1234 456

In [8]:
while num1 >= 1:
    if num1 % 2 == 0:
        print("%10d %10d struck" % (num1, num2))
    else:
        print("%10d %10d keep" % (num1, num2))
        result += num2
        
    num1 = num1 // 2
    num2 = num2 * 2
    print ("The result is ", result)

ValueError: unsupported format character ' ' (0x20) at index 6

In [11]:
numbers = str(input("two lnums with space: ")).split()

result = 0;
num1 = int(numbers[0])
num2 = int(numbers[1])


while num1 >= 1:
    if num1 % 2 == 0:
        print("%10d %10d struck" % (num1, num2))
    else:
        print("%10d %10d keep" % (num1, num2))
        result += num2
        
    num1 = num1 // 2
    num2 = num2 * 2
    print ("The result is ", result)

two lnums with space: 123  234
       123        234 keep
The result is  234
        61        468 keep
The result is  702
        30        936 struck
The result is  702
        15       1872 keep
The result is  2574
         7       3744 keep
The result is  6318
         3       7488 keep
The result is  13806
         1      14976 keep
The result is  28782

In [35]:
import random


stay = 0
switch = 0
choice = eval(input("몇 번 방을 선택하시겠어요? (0,1,2)에서 고르세요"))
doors = [1,0,0]
random.shuffle(doors)

for i in range(1000):
    random.shuffle(doors)
#     choice = random.randrange(3)

    user = doors[choice]

    if user == 1:
        stay = stay + 1
    else:
        switch = switch + 1
    
print("stay: %4d" % stay)
print("switch: %4d" % switch)

몇 번 방을 선택하시겠어요? (0,1,2)에서 고르세요2
stay:  328
switch:  672

In [34]:
import random

doors = [1,0,0]
random.shuffle(doors)
doors

[0, 0, 1]

In [37]:
dict1 = {}
dict1['korean'] = 100
dict1

{'korean': 100}

In [38]:
dict2 = {
    'korean':100,
    'math':80,
    'science':[50,45,20,15],
}
dict2

{'korean': 100, 'math': 80, 'science': [50, 45, 20, 15]}

In [39]:
dict2['history'] = 50
dict2

{'history': 50, 'korean': 100, 'math': 80, 'science': [50, 45, 20, 15]}

In [40]:
del dict2['history']
dict2

{'korean': 100, 'math': 80, 'science': [50, 45, 20, 15]}

In [42]:
dict2['math']

80

dict2.keys()

In [43]:
dict2.keys()

dict_keys(['korean', 'math', 'science'])

In [44]:
dict2.values()

dict_values([100, 80, [50, 45, 20, 15]])

In [46]:
dict2.items()

dict_items([('korean', 100), ('math', 80), ('science', [50, 45, 20, 15])])

In [47]:
ppap = {'pen', 'apple', 'pineapple', 'pen'}
print(ppap)

{'pen', 'pineapple', 'apple'}

In [49]:
'apple' in ppap

True

In [50]:
pineapple = set('pineapple')
pineapple

{'a', 'e', 'i', 'l', 'n', 'p'}

In [51]:
pastcampusset = set('pastcampus')
pythonset_ = set('python')

In [53]:
pastcampusset
pythonset_

{'h', 'n', 'o', 'p', 't', 'y'}

In [55]:
A = pastcampusset
B = pythonset_
A | B

{'a', 'c', 'h', 'm', 'n', 'o', 'p', 's', 't', 'u', 'y'}

In [56]:
A & B

{'p', 't'}

In [57]:
A - B

{'a', 'c', 'm', 's', 'u'}

In [58]:
A ^ B

{'a', 'c', 'h', 'm', 'n', 'o', 's', 'u', 'y'}

In [64]:
A = set('joseonggyeong')
B = set('kokoa')
A|B

{'a', 'e', 'g', 'j', 'k', 'n', 'o', 's', 'y'}

In [65]:
A&B

{'o'}

In [66]:
A-B

{'e', 'g', 'j', 'n', 's', 'y'}

In [67]:
B-A

{'a', 'k'}

In [68]:
A^B

{'a', 'e', 'g', 'j', 'k', 'n', 's', 'y'}

In [88]:
import random

answer = random.randint(1,100)
username = input ("안녕하세요? 당신의 이름을 쓰세요.")


trial = 5
while trial:
    guess = eval(input("Hi, "+ username + "님 숫자가 무엇인지 쓰세요."))
    
    if guess == answer:
        print("맞췄습니다. 축하드려요. 당신은 천재군요. 정답은 " + str(answer) + "입니다.")
        break
    elif guess > answer:
        trial = trial - 1
        print("넘 높게 잡으셨어요. 남은 횟수는 " + str(trial) + "번 남았습니다.")
    elif guess < answer:
        trial = trial - 1
        if trial == 0:
            print("아~~~ 아쉬워요. 정답은 " + str(answer) + "였습니다.  힘내세요.")
        else:
            print("넘 낮게 잡으셨어요. 남은 횟수는 " + str(trial) + "번 남았습니다.")

안녕하세요? 당신의 이름을 쓰세요.조성경
Hi, 조성경님 숫자가 무엇인지 쓰세요.45
넘 낮게 잡으셨어요. 남은 횟수는 4번 남았습니다.
Hi, 조성경님 숫자가 무엇인지 쓰세요.60
넘 낮게 잡으셨어요. 남은 횟수는 3번 남았습니다.
Hi, 조성경님 숫자가 무엇인지 쓰세요.70
넘 낮게 잡으셨어요. 남은 횟수는 2번 남았습니다.
Hi, 조성경님 숫자가 무엇인지 쓰세요.90
넘 높게 잡으셨어요. 남은 횟수는 1번 남았습니다.
Hi, 조성경님 숫자가 무엇인지 쓰세요.88
넘 높게 잡으셨어요. 남은 횟수는 0번 남았습니다.

In [85]:
old_list = [1,2,3,4,5,]

doubled_list = []
for i in  old_list:
    doubled_list.append(i*2)
    
doubled_list

[2, 4, 6, 8, 10]

In [86]:
tripled_list =[i*3 for i in old_list]
tripled_list

[3, 6, 9, 12, 15]

In [89]:
old_list = [1,2,3,4,5,]

doubled_list = []
for i in  old_list:
    if i % 2 == 0:
        doubled_list.append(i*2)
    
doubled_list

[4, 8]

In [90]:
ld_list = [1,2,3,4,5,]

doubled_list = [i * 2 for i in old_list if i % 2 == 0]

doubled_list

[4, 8]

In [91]:
old_list = [1,2,3,4,5,]

doubled_list = []
for i in  old_list:
    doubled_list.append(i*2)
    
doubled_list

[2, 4, 6, 8, 10]

In [100]:

fizzbuzz = []
for i in range(1,101):
    fizzbuzz.append(i)

print(fizzbuzz)
print("==========================")

for item in fizzbuzz:
    if item % 15 == 0:
        print("fizzbuzz")
    elif item % 5 == 0:
        print("buzz")
    elif item % 3 == 0:
        print("fizz")
    else:
        print(item)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
==========================
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [108]:
for i in range(1, 100+1):
    if i% 3 == 0 or i% 5 == 0:
        print("fizz"*(i%3==0) +"buzz"*(i%5==0))
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [107]:
one_line_fizzbuzz = ["fizz"*(i%3==0) + "buzz"*(i%5==0) or i for i in range(1, 101)]
print(one_line_fizzbuzz)

[1, 2, 'fizz', 4, 'buzz', 'fizz', 7, 8, 'fizz', 'buzz', 11, 'fizz', 13, 14, 'fizzbuzz', 16, 17, 'fizz', 19, 'buzz', 'fizz', 22, 23, 'fizz', 'buzz', 26, 'fizz', 28, 29, 'fizzbuzz', 31, 32, 'fizz', 34, 'buzz', 'fizz', 37, 38, 'fizz', 'buzz', 41, 'fizz', 43, 44, 'fizzbuzz', 46, 47, 'fizz', 49, 'buzz', 'fizz', 52, 53, 'fizz', 'buzz', 56, 'fizz', 58, 59, 'fizzbuzz', 61, 62, 'fizz', 64, 'buzz', 'fizz', 67, 68, 'fizz', 'buzz', 71, 'fizz', 73, 74, 'fizzbuzz', 76, 77, 'fizz', 79, 'buzz', 'fizz', 82, 83, 'fizz', 'buzz', 86, 'fizz', 88, 89, 'fizzbuzz', 91, 92, 'fizz', 94, 'buzz', 'fizz', 97, 98, 'fizz', 'buzz']

In [130]:
#아이고 
for i in range(1, 101):
    print("fizz"*(i % 3 == 0) + "buzz"*(i % 5 == 0) or i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [115]:
a = bool(0)
print(a)

False

In [116]:
print(5%5==2)

False

In [125]:
print(""+str((5%5==2)))

False

In [126]:
# python 의 득이한 성질.....
print(""*0)

In [128]:
print(""+str(0))

0

In [24]:
import random

dice1 = str(random.randint(1,6))
dice2 = str(random.randint(1,6))
print("주사위 값은 " + dice1 + "와 " + dice2 + "입니다.")

주사위 값은 5와 3입니다.